<a href="https://colab.research.google.com/github/laurarojas1456/ejercicios_for/blob/main/ejercicios_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
# Tiene formato de código
```
INSTRUCCIÓN REPETITIVA FOR

In [ ]:
# EJERCICIO 1: mostrar los números del 1 al 10, sin usar instrucciones repetitivas

print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

In [ ]:
# EJERCICIO 2: mostrar los numeros del 1 al 10, usando la instruccion while

contador = 1
print(contador)
while contador <10:
  #contador = contador +1
  contador += 1
  print(contador)

In [ ]:
# EJERCICIO 3: mostrar los numeros del 1 al 10, usando la instruccion for y una lista como iterable

for i in [1,2,3,4,5,6,7,8,9,10]:
  print(i)

In [ ]:
# EJERCICIO 4: mostrar los numeros del 1 al 10, usando la instruccion for y la funcion range 

for i in range(1,11):
  print(i)

In [ ]:
# EJERCICIO 5: mostrar una frase 10 veces, usando la instruccion for y una lista

lista = [1,2,3,4,5,6,7,8,9,10]
for i in lista:
  print(f"{i}Sistemas, la mejor!!!")

In [ ]:
# EJERCICIO 6: mostrar la silaba inicial de los dias de la semana, usando for y una lista con la silaba inicial de los

dias_semana = ["lu", "ma", "mi", "ju", "vi", "sa", "do"]
for i in dias_semana:
  print(i)

In [ ]:
# EJERCICIO 7: mostrar una lista de distintos tipos de datos, usando for

lista = [1, 3.4, 9, True, "Laura", 8, "Guanenta"]
for i in lista:
  print(i)

In [ ]:
# EJERCICIO 8: ingresar su nombre y mostrarlo letra a letra, usando for

nombre = input("Digite su nombre: ")
for letra in nombre:
  print(letra)

In [ ]:
# EJERCICIO 9: ingresar su nombre y mostrarlo letra a letra, usando for, cambiando por asterisco a la vocal * a la vocal e

nombre = input("Digite su nombre: ")
for letra in nombre:
  if letra == 'e':
    print("*")
  else:
    print(letra)

In [ ]:
# EJERCICIO 10: ingresar su nombre y mostrarlo letra a letra, en mayuscula, usando for

nombre = input("Digite su nombre: ")
for letra in nombre:
  print(letra.upper())

In [13]:
# EJERCICIO 11: imprimir listas de numeros usando for y range 

print("Numeros del 0 al 9")
for i in range(10):
  print(i)

print("Numeros del 1 al 10")
for i in range(1,11):
  print(i)

print("10 veces la frase")
for i in range(10):
  print("Sistemas la mejor")

print("10 veces la frase i = ")
for i in range(10):
  print("i = " + str(i))

print("10 veces la frase i = ")
for i in range(10):
  print(f" i = {i}")

print("Rango del 7 al 18, Incrementando de 4 en 4")
for i in range(7,19,4):
  print(i)

print("Convierte rango en lista a, y la muestra")
a = list(range(1000))
print(a)